/* States5.css */

body {
  font-family: Arial, sans-serif;
}

#todo-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* width: 100%; */
  /* gap: 200px; */
}

#todo-list-container li {
  list-style: none;
  width: 17rem;
  align-items: center;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type='text'] {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
