.tweet-wrapper{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 1rem;
  font-size: larger;
}


.like-time-wrapper{
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 2px; */
}

.tweet-content-n-edit{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
